.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}





/* detail */


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


.bg {
  margin-top: 68px;

}

.bg>img {
  width: 100vw;
  height: 100%;
  object-fit: contain;
  filter: blur(5px) opacity(0.5);

}

.detail-wrap {
  display: flex;
  font-family: "roboto";
  margin-top: 25px;
  position: absolute;
  top: 68px;

}

.detail-wrap>.detail-img {
  flex: 50%;
}

.detail-wrap>.detail-img img {
  max-width: 500px;
  height: 100%;

}

.detail-wrap>.detail-text {
  margin-left: 2vw;
}

.detail-wrap>.detail-text>.title {
  font-size: 2.5vw;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 900;
}

.detail-wrap>.detail-text>.des {
  margin: 1vw 0;

}



.detail-wrap>.detail-text>.des span {
  margin-right: 1vw;
  color: #b8b8b8;

}

.detail-wrap>.detail-text>.des span em {
  font-style: normal;
}

.detail-wrap>.detail-text>.des span em:nth-child(1) {
  margin-right: 2vw;
}

.detail-wrap>.detail-text>p {
  width: 80%;
  font-size: 1.25vw;
}




/* about */


.about_container {
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  margin: 0 auto;
  margin-top: 100px;
  max-width: 50%;
  font-weight: 300;
  color: #000;
}

.about_container span:first-child {
  font-size: 20px;
}

.about_container span:last-child {
  display: block;
  margin-top: 10px;
}




@media screen and (max-width: 1080px) {
  .detail-wrap>.detail-img img {
    width: 100%;


  }


}