/* movie */

.movies {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 25%);
  
  }
  
  
  .movies a {
    text-decoration: none;
    color: inherit;
    max-width: 300px;
  
  }
  
  .movies .movie {
  
  }
  
  
  /* .movies .movie a {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      text-decoration: none;
      color: inherit;
    } */
  
  .movie img {
 
  }
  
  .movie .movie-data {
    position: absolute;
  }
  
  .movie .movie-title,
  .movie .movie-year {

  
  
  }
  
  .movie .movie-title {

  
  }
  
  .movie .movie-genres {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin: 5px 0px;
  }
  
  .movie-genres li,
  .movie .movie-year {
    justify-content: space-between;

  }
  
  
  
  @media screen and (max-width: 1080px) {
    .movies {
  
      grid-template-columns: repeat(auto-fill, 33.333%);
  
  
    }
  
    .movies a {
      max-width: 100%;
    }
  
    .movie img {
      object-fit: contain;
      max-height: 450px;
      width: 100%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .movies {
  
      grid-template-columns: repeat(auto-fill, 50%);
  
  
    }
  
  
  }
  @media screen and (max-width: 375px) {
    .movies {
  
      grid-template-columns: repeat(auto-fill, 100%);
  
  
    }
  
  
  }


  /* navigation.css */


  .nav {

}

.nav .container {
    width: 100%;
    padding: 0 1vw;
    margin: 0 auto;
}


.nav a {
  
}